@font-face{
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/font.ttf');
}

body {
  background: white;
  font-size: 2.5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2.5vh;
  color: #f2ebdf;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

button {
  border: 2px solid #707070;
  color: #f2ebdf;
  background: #ad3121;

}

.game {
  border: 5px solid #2d0140;
  background-color: #2d0140;
  display: grid;
  grid-template-columns: .25fr 6fr 0.50fr;
  margin-top: 100px;
  
  margin-right: auto;
  margin-left: auto;
  max-width: 95%;
}

.sidebar {
  border: 0px solid yellow;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 25px;
  grid-row: inherit;
  text-align: center;
  height: 520px;
  margin-top: 4vh;
  row-gap: 40px;
}

.sidebar button{
  writing-mode: vertical-lr;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.nested {
  border: 0px solid grey;
  text-align: center;
}

.nested button {
  margin-top: 4vh;
  font-size: x-large;
}

.inventorygrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}

.inventorygrid > div {
  padding: 1rem;
  border: 1px dotted #2d0140;
}

.inventorygrid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}



#container-o {
  border: 0px solid black;
  width: 100%;
  margin: auto;
}

#currroom {
    border: 0px solid black;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 3.5vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
}

#output {
    border: 2px solid #707070;
    background: #0d0d0d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#output {
  padding: 1.5vw 1.5vw 0 1.5vw;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  width: auto; /* or whatever width you want. */
  height: 500px;
  margin: auto;
}

#output div {
    border: 0px solid red;
    margin: 0.5%;
    width: auto;
}

.input {
  border: 2px solid #707070;
  border-radius: 10px;
  background-color: #0d0d0d;
  display: flex;
  margin-top: 3%;

}

#input {
  height: 4vh;
  width: 96%;
  color: #f2ebdf;
  background: transparent;
  font-size: 2.5vh;
  border: none;
  position: relative;
  bottom: 0.175vh;
  margin-left: .5vw;
}

#arrow {
  font-size: 3.5vh;
  color: #f2ebdf;
  margin-top: 5px;
}

#input:focus {
  outline: none;
}

.statusbar {
  border: 3px solid #707070;
  border-radius: 10px;
  color: #f2ebdf;
  background: #ad3121;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 3%;
  padding: 25px;
  text-align: center;
  
}

.statusbar div {
  border: 1px solid #707070;
  background: #0d0d0d;
}

#map {
  border: 5px solid grey;
  position: absolute;
  top: 165px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  display: none;
}

#inv {
  border: 5px solid grey;
  background: #f2ebdf;
  color: #0d0d0d;
  position: absolute;
  top: 165px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: 500px;
  display: none;
}

#address {
  border: 5px solid grey;
  background: #f2ebdf;
  position: absolute;
  top: 165px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height: 500px;
  display: none;
}

/*Classes meant for ingame println function*/
.enter {
  text-align: center;
}

.intro {
  text-align: center;
  font-size: 3rem;
}