/* across screen styles */

@font-face {
   font-family: ibm;
   src: url(../fnt/font-amneisa-pxibmpc.ttf);
}

/* typography */
#game-container {
   font-family: 'ibm', monospace;
   color: #aaaaaa;
   font-size: 2.25vh;
   line-height: 1.25;
}

#game-container b, #game-container strong {
   font-weight: 600;
}

#game-container i, #game-container em {
   font-style: italic;
}

#game-container h1 {
   font-size: 6vh;
}

#game-container h2 {
   font-size: 3vh;
   font-weight: 600;
}

#game-container h3 {
   font-size: 2.25vh;
}

#game-container h4 {
   font-size: 2.25vh;
}

#game-container h5 {
   font-size: 1em;
}

#game-container h6 {
   font-size: 1em;
}

#game-container p {
   margin-bottom: 3%;
}

/* buttons */
.game-button {
   background-color: transparent;
   border: 2px solid #a8a8a8;
   color: #E4E4E4;
   letter-spacing: 1px;
   font-size: 14px;
   border-radius: 3em;
   transition-duration: 0.4s;
   padding: 10px 1.5em;
}

.game-button:hover {
   transition: 150ms ease-in-out;
   background-color: #a8a8a8;
}

#title-img {
   grid-column: 1 / span 2;
   justify-self: center;
}

#vid {
   display: block;
   margin: auto;
   grid-column: 1 / span 2;
   justify-self: center;
   align-self: center;
}

#game-button-container {
   grid-column: 1 / span 2;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 10%;
}

#new-game-button {
   align-self: center;
   justify-self: right;
}

#load-game-button {
   align-self: center;
   justify-self: left;
}


/* game-options */
#game-options h3 {
   font-size: 2.25vh;
   font-weight: 600;
}

#difficulty-options-descriptions {
   font-size: .9em;
   color: #A1A1A1;
}


#visual-mode-options-descriptions {
   font-size: .9em;
   color: #A1A1A1;
}


#currroom {
   font-family: 'ibm', monospace;
   letter-spacing: 4px;
   font-weight: 300;
   text-transform: none;
}
 
#input {
   color: #aaaaaa;
   font-size: 2.5vh;
   letter-spacing: 1px;
   font-family: 'ibm', monospace;
}
 
#arrow {
   font-size: 2.25vh;
   color: #aaaaaa;
   padding-right: 10px;
}

#game-ui-bar h3 {
   font-size: 3vh;
}


#hunger h3, #fatigue h3 {
   font-size: 2.25vh;
}

#hunger-bar-progress {
   border-radius: 0;
}

#hunger-bar {
   background: transparent linear-gradient(270deg, #a8a8a8 0%, #484848 100%) 0% 0% no-repeat padding-box;
   border-radius: 0;
}

#fatigue-bar-progress {
   border-radius: 0;
}

#fatigue-bar {
   background: transparent linear-gradient(270deg, #a8a8a8 0%, #484848 100%) 0% 0% no-repeat padding-box;
   border-radius: 0;
}


/* clickable element styles */
.clickables-left{
   border-right: 2px solid #a8a8a8;
}

/* left side clickable icons */
#inventory-button {
   background-image: url(../img/png/icon-inventory-ibm.png);
}

#inventory-button:hover {
   background-image: url(../img/png/icon-inventory-ibmover.png);
}

#address-book-button {
   background-image: url(../img/png/icon-address-ibm.png);
}

#address-book-button:hover {
   background-image: url(../img/png/icon-address-ibmover.png);
}

#map-button {
   background-image: url(../img/png/icon-map-ibm.png);
}

#map-button:hover {
   background-image: url(../img/png/icon-map-ibmover.png);
}

#info-button {
   background-image: url(../img/png/icon-info-ibm.png);
}

#info-button:hover {
   background-image: url(../img/png/icon-info-ibmover.png);
}

/* right side clickable icons */
#save-button {
   background-image: url(../img/png/icon-save-ibm.png);
}

#save-button:hover {
   background-image: url(../img/png/icon-save-ibmover.png);
}

#mode-button {
   background-image: url(../img/png/icon-mode-ibm.png);
}

#mode-button:hover {
   background-image: url(../img/png/icon-mode-ibmover.png);
}

#achieve-button {
   background-image: url(../img/png/icon-achieve-ibm.png);
}

#achieve-button:hover {
   background-image: url(../img/png/icon-achieve-ibmover.png);
}

#help-button {
   background-image: url(../img/png/icon-help-ibm.png);
}

#help-button:hover {
   background-image: url(../img/png/icon-help-ibmover.png);
}

#info-display h3 {
   font-weight: 600;
   letter-spacing: 1px;
}

#xIndex-container h3 {
   font-weight: 600;
}

#xIndex-container label {
   line-height: 1;
   font-size: 2.25vh;
   font-weight: 600;
}

#x-indexer-instructions p {
   font-size: .8em;
}

#xStreetIndex select {
   border: 2px solid #aaaaaa;
   font-family: Arial, sans-serif;
}

#xStreetIndex #submitButton {
   background-color: #aaaaaa;
   font-family: Arial, sans-serif;
}

.clickables-right {
   border-left: 2px solid #a8a8a8;
}

#dial-keys button:hover {
   color: #aaaaaa;
}

/* Classes for println() */
#output div.amnesiaTitle {
   font-size: 3em;
}
