/*** AMNESIA:RESTORED GAME ***/
/***
   Table Of Contents:

   1. styling across game screens
   2. title screen styling (main landing screen on page)
   3. main menu styling (options)
   4. loading screen styling
   5. the main game screen stylings
***/

/* 1:
   styling for grid layouts and across game screen styles, including typography and colors
*/

html {
   font-size: 1em;
}

body {
   background-image: url(../img/png/newyork.png);
}

#game-container img {
   max-width: 100%;
   height: auto;
}

/* typography */
#game-container {
   font-family: 'Montserrat', sans-serif;
   color: #e4e4e4;
   font-size: 1.85vh;
   line-height: 1.5;
}

#game-container b, #game-container strong {
   font-weight: 600;
}

#game-container i, #game-container em {
   font-style: italic;
}

#game-container h1 {
   font-size: 6vh;
}

#game-container h2 {
   font-size: 2.65vh;
   font-weight: 600;
}

#game-container h3 {
   font-size: 1.85vh;
}

#game-container h4 {
   font-size: 1.85vh;
}

#game-container h5 {
   font-size: 1em;
}

#game-container h6 {
   font-size: 1em;
}

#game-container p {
   margin-bottom: 3%;
}

/* buttons */
.game-button {
   background-color: transparent;
   border: 2px solid #9C4FEC;
   color: #E4E4E4;
   letter-spacing: 1px;
   font-size: 14px;
   border-radius: 3em;
   transition-duration: 0.4s;
   padding: 10px 1.5em;
   cursor: pointer;
}

.game-button:hover {
   transition: 150ms ease-in-out;
   background-color: #9C4FEC;
}

/* layout */
#game-container {
   height: 80vh;
   padding: 5%;
}

.game-item-1 {
   background-color: transparent;
   height: 100%;
   grid-column: 2 / span 1;
   grid-row: 1 / span 1;
}

.game-item-2 {
   background-color: transparent;
   grid-column: 1 / span 1;
   grid-row: 2 / span 1;
}

.game-item-3 {
   background-color: #0E0E0F;
   grid-column: 2 / span 1;
   grid-row: 2 / span 1;
   height: 100%;
   position: relative;
}

.game-item-4 {
   background-color: transparent;
   grid-column: 3 / span 1;
   grid-row: 2 / span 1; 
}

.game-item-5 {
   background-color: transparent;
   grid-column: 2 / span 1;
   grid-row: 3 / span 1;
}

/* 2:
   title screen styling, the first screen the players see. 
*/

#game-title { 
   height: 100%;
   display: grid;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 1fr 15%;
}

#title-screen {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: .7fr .15fr .15fr;
}

#title-img {
   grid-column: 1 / span 2;
   justify-self: center;
}

#vid {
   display: block;
   margin: auto;
   grid-column: 1 / span 2;
   justify-self: center;
   align-self: center;
}

#game-button-container {
   grid-column: 1 / span 2;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 10%;
}

#new-game-button {
   align-self: center;
   justify-self: right;
}

#load-game-button {
   align-self: center;
   justify-self: left;
}

/* 3:
   the main menu of the game, the options screen, let's players choose the difficulty and styling 
*/

#game-options {
   height: 100%;
   display: none;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 1fr 15%;
}

#game-options h2 {
   margin-bottom: 2%;
}

#game-options h3 {
   font-size: 2vh;
   font-weight: 600;
   letter-spacing: 1px;
}

#game-options p {
   margin-bottom: 5%;
}

#options-screen {
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-columns: .30fr 1fr .30fr;
   grid-template-rows: auto .15fr .3fr .3fr .15fr auto;
}

#options-title {
   display: grid;
   grid-column: 2 / span 1;
   grid-row: 2 / span 1;
   margin-top: 3%;
}

#selectTitle {
   justify-self: center;
}

#difficulty-options {
   grid-column: 2 / span 1;
   grid-row: 3 / span 1;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: .3fr .5fr;
}

#difficulty-options-descriptions {
   grid-column: 1 / span 4; 
   margin-top: 2%;
   font-size: .9em;
   color: #A1A1A1;
}

#visuals-options {
   grid-column: 2 / span 1;
   grid-row: 4 / span 1;
   display: grid;
   grid-template-columns: .25fr .16fr .25fr .35fr .08fr;
   grid-template-rows: .3fr .5fr;
   grid-column-gap: 10px;
}

#visual-mode-options-descriptions {
   grid-column: 1 / span 4;
   align-self: flex-end;
   margin-top: 2%;
   font-size: .9em;
   color: #A1A1A1;
}

.mode {
   justify-self: center;
   cursor: pointer;
}

.mode:hover {
   text-decoration: underline;
   text-decoration-color: #AD3121;
   text-decoration-thickness: 2px;
   text-underline-offset: .5em;
}

#begin-game-button {
   grid-column: 2 / span 1;
   grid-row: 5 / span 1;
   justify-self: center;
   align-self: center;
}

/* 4:
   the game loading screen, the player can reload a previous game from this screen
*/

#game-load {
   height: 100%;
   display: none;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 1fr 15%;
}

#load-screen {
   display: grid;
   height: 100%;
   grid-template-columns: .25fr 1.5fr .25fr;
   grid-template-rows: .05fr .20fr .5fr .20fr .05fr auto;
}

#load-title {
   justify-self: center;
   grid-column: 2 / span 1;
   grid-row: 2 / span 1;
}

#load-saves {
   grid-column: 2 / span 1;
   grid-row: 3 / span 1;
}

#load-begin-game-button {
   justify-self: center;
   grid-column: 2 / span 1;
   grid-row: 4 / span 1;
}

/* 5:
   the game proper, all styles for the game!
*/

#game {
   height: 100%;
   display: none;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 1fr 15%;
}

#room-title {
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
}

#currroom {
   font-family: mostra-nuova, sans-serif;
   letter-spacing: 4px;
   font-weight: 300;
   text-transform: uppercase;
   justify-self: center;
   align-self: flex-end;
}

#left-side-clickables {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: .25fr .25fr .25fr .25fr;
}

#input-output-container {
   position: absolute;
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: 4% 1fr 4%;
   grid-template-rows: .05fr .8fr .15fr;
}

#output {
   grid-column: 2 / span 2;
   grid-row: 2 / span 1;
   overflow-x: hidden;
   overflow-y: scroll;
   height: 100%;
}

/* output scroll bar width */
#output::-webkit-scrollbar {
   width: 15px;
}
   
/* output scroll bar track */
 #output::-webkit-scrollbar-track {
   border-radius: 10px;
}
   
/* output scroll bar handle */
#output::-webkit-scrollbar-thumb {
   background: #494959;
   border-radius: 10px;
}

#output div {
   border-left: 2px solid #494959;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 25px;
}

.input {
   grid-column: 2 / span 1;
   grid-row: 3 / span 1;
   border-top: .5px solid #494959;
}
 
#input {
   color: #E4E4E4;
   background: transparent;
   font-size: 2.5vh;
   letter-spacing: 1px;
   border: none;
   width: 90%;
   padding-top: 1%;
   font-family: 'Montserrat', sans-serif;
}
 
#arrow {
   font-size: 2vh;
   color: #E4E4E4;
   padding-right: 10px;
}
 
#input:focus {
   outline: none;
}

#right-side-clickables {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: .25fr .25fr .25fr .25fr;
}

#game-ui-bar {
   height: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 4%;
   letter-spacing: 2px;
   font-weight: 600;
}

#game-ui-bar h3 {
   font-size: 2.5vh;
}

#hunger, #fatigue {
   width: 25%;
}

#hunger h3, #fatigue h3 {
   font-size: 1.85vh;
   margin-top: 7px;
}

#hunger-bar-progress {
   width: 90%;
   background-color: #494959;
   border-radius: 16px;
}

#hunger-bar {
   width: 100%;
   height: 13px;
   background: transparent linear-gradient(270deg, #9C4FEC 0%, #4E2876 100%) 0% 0% no-repeat padding-box;
   border-radius: 16px;
}

#fatigue-bar-progress {
   width: 90%;
   background-color: #494959;
   border-radius: 16px;
}

#fatigue-bar {
   width: 100%;
   height: 13px;
   background: transparent linear-gradient(270deg, #9C4FEC 0%, #4E2876 100%) 0% 0% no-repeat padding-box;
   border-radius: 16px;
}

#money {
   text-align: center;
}


/* clickable left element styles */

.clickables-left{
   position: absolute;
   background: transparent linear-gradient(151deg, rgba(73,73,89,.95) 0%, rgba(15,15,18,.95) 100%) 0% 0% no-repeat padding-box;
   border-right: 2px solid #9C4FEC;
   width: 25%;
   height: 100%;
   padding: 15px;
   padding-right: 0;
   box-sizing: border-box;
   overflow-y: scroll;
   overflow-x: hidden;
}

.clickables-left h2, .clickables-right h2 {
   margin-bottom: 15px;
}

.x-button {
   background-color: transparent;
   color:#E4E4E4;
   font-weight: 600;
   border: none;
   cursor: pointer;
}

.clickables-left .x-button {
   position: absolute;
   right: 10px;
   top: 15px;
}

.clickable-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* left side scroll bar width */
.clickables-left::-webkit-scrollbar {
   width: 10px;
}
   
/* left side scroll bar track */
.clickables-left::-webkit-scrollbar-track {
   border-radius: 10px;
}
   
/* left side scroll bar handle */
.clickables-left::-webkit-scrollbar-thumb {
   background: #494959;
   border-radius: 10px;
}

.iconbtn {
   width: 35%;
   height: 35%;
   max-width: 40px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   transition: background .2s;
}

/* left side clickable icons */
#inventory-button {
   background-image: url(../img/png/icon-inventory-purple.png);
}

#inventory-button:hover {
   background-image: url(../img/png/icon-inventory-red.png);
}

#address-book-button {
   background-image: url(../img/png/icon-address-purple.png);
}

#address-book-button:hover {
   background-image: url(../img/png/icon-address-red.png);
}

#map-button {
   background-image: url(../img/png/icon-map-purple.png);
}

#map-button:hover {
   background-image: url(../img/png/icon-map-red.png);
}

#info-button {
   background-image: url(../img/png/icon-info-purple.png);
}

#info-button:hover {
   background-image: url(../img/png/icon-info-red.png);
}

/* inventory display specific stylings */

#inventory-display {
   display: none;
}

#inventory {
   display: grid;
   grid-template-columns: 1fr;
}

.clickItemInv, .clickXIndex, .clickBrochure{
   display: flex;
   align-items: center;
   margin: 10px 0;
   cursor: pointer;
}

.clickItemInv img, .clickXIndex img, .clickBrochure img{
   width: 15%;
   margin-right: 10px;
   border: 1px solid #E4E4E4;
   border-radius: 5px;
   background-color: #0e0e0f8a;
   padding: 5px;
}

#inventory-item-display {
   position: absolute;
   left: 25%;
   display: none;
   background-color: rgba(28, 28, 34, .95);
   width: 40%;
   height: 100%;
   padding: 15px;
   box-sizing: border-box;
} 

#inventory-item-container {
   height: 100%;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: .1fr 5fr 3fr;
   grid-row-gap: 3%;
}

#inventory-item-display img {
   width: 50%;
}

#item-name {
   grid-column: 1 / span 2;
   margin-left: .5%;
}

#item-img-container {
   grid-column: 1 / span 2;
   background: #0e0e0f8a;
}

#item-img {
   width: 100%;
   height: 100%;
   margin-left: 25%;
   margin-top: 3%;
}

#item-description {
   width: 100%;
   height: 100%;
   grid-column: 1 / span 2;
   grid-row: 3 / span 1;
   margin-left: 1%;
   overflow-y: scroll;
}

/* item description scroll bar width */
#item-description::-webkit-scrollbar {
   width: 5px;
}
   
/* item description scroll bar track */
#item-description::-webkit-scrollbar-track {
   border-radius: 10px;
}
   
/* item description scroll bar handle */
#item-description::-webkit-scrollbar-thumb {
   background: #494959;
   border-radius: 10px;
}

/* brochure styling */

#inventory-brochure-display {
   position: absolute;
   left: 25%;
   display: none;
   grid-template-rows: 50vh;
   background-color: rgba(28, 28, 34, .95);
   width: 40%;
   height: 100%;
   padding: 15px;
   box-sizing: border-box;
}

#inventory-brochure-display img {
   width: 50%;
}

#inventory-brochure-container {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: .1fr 5fr 3fr;
   grid-row-gap: 3%;
}

#brochure-full-display {
   display: none;
   position: absolute;
   left: 65%;
   background-color: rgba(28, 28, 34, .95);
   width: 40%;
   height: 100%;
   border-left: 2px solid #9C4FEC;
   overflow-y: scroll;
}

/* x-indexer stylings */

#inventory-xIndex-display {
   position: absolute;
   left: 25%;
   display: none;
   background-color: rgba(28, 28, 34, .95);
   width: 60%;
   height: 100%;
   box-sizing: border-box;
}

#xIndex-container {
   display: grid;
   height: 100%;
   grid-template-columns: .6fr 1fr;
   grid-template-rows: .2fr .4fr .4fr;  
   box-sizing: border-box;
   margin: 2%;
}

#xIndex-container h3 {
   margin: 5% 0;
   font-weight: 600;
}

#xIndex-container label {
   line-height: 1;
   font-size: 1.85vh;
   font-weight: 600;
}

#xIndex-name {
   grid-column: 1 / span 2;
   grid-row: 1 / span 1;
}

#xIndex-img-container {
   width: 100%;
   grid-column: 2 / span 1;
   grid-row: 1 / span 3;
   align-self: center;
}

#xIndex-img-container img {
   width: auto;
   max-height: 100%;
}

#x-indexer-instructions {
   grid-column: 1 / span 1;
   grid-row: 2 / span 1;
}

#x-indexer-instructions p {
   font-size: .8em;
   margin-bottom: 5%;
}

#xStreetIndex {
   grid-column: 1 / span 1;
   grid-row: 3 / span 1;
   margin-top: 10%;
}

#xStreetIndex select {
   background-color: #0E0E0F;
   color: #e4e4e4;
   padding: 5px;
   border-radius: 16px;
   border: 2px solid #9C4FEC;
   font-family: 'Montserrat', sans-serif;
   margin: 5% 0;
}

/* right side scroll bar width */
#xStreetIndex select::-webkit-scrollbar {
   width: 5px;
}
   
/* right side scroll bar track */
#xStreetIndex select::-webkit-scrollbar-track {
   border-radius: 10px;
}
   
/* right side scroll bar handle */
#xStreetIndex select::-webkit-scrollbar-thumb {
   background: #494959;
   border-radius: 10px;
}

#xStreetIndex #result {
   border-radius: 16px 0 0 16px;
   background-color: #0E0E0F;
   border: none;
   padding: 5px;
}

#xStreetIndex #submitButton {
   background-color: #9C4FEC;
   border-radius: 16px;
   color: #e4e4e4;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

/* address book display specific stylings */

#address-display {
   position: absolute;
   height: 100%;
   display: none;
}

#address-text-container {
   height: 100%;
}

#addresses {
   height: 80%;
}

.listedNum {
   margin-bottom: 10px;
}

.listedNum h4 {
   color: #A1A1A1;
   margin-left: 15px;
}

/* manhattan map display specific stylings */

#map-display {
   display: none;
}

#map-man {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
}

#exitMapBtn {
   position: absolute;
   right: 5px;
   top: 5px;
   z-index: 10;
}

/* information display specific stylings */

#info-display {
   display: none;
}

#info-display h3 {
   font-weight: 600;
   letter-spacing: 1px;
}

#info-display h4 {
   margin-left: 15px;
   display: inline;
}

#score {
   margin-bottom: 1.33em;
}

#score p {
   display: inline;
}

/* clickable right element styles */

.clickables-right {
   display: none;
   position: absolute;
   border-left: 2px solid #9C4FEC;
   right: 0px;
   background: transparent linear-gradient(29deg, rgba(15,15,18,.95) 0%, rgba(73,73,89,.95) 100%) 0% 0% no-repeat padding-box;
   width: 25%;
   height: 100%;
   padding: 15px;
   padding-right: 0;
   box-sizing: border-box;
   overflow-x: hidden;
   overflow-y: scroll;
}

.clickables-right .x-button {
   position: absolute;
   right: 10px;
   top: 15px;
}

/* right side scroll bar width */
.clickables-right::-webkit-scrollbar {
   width: 10px;
}
   
/* right side scroll bar track */
.clickables-right::-webkit-scrollbar-track {
   border-radius: 10px;
}
   
/* right side scroll bar handle */
.clickables-right::-webkit-scrollbar-thumb {
   background: #494959;
   border-radius: 10px;
}

/* right side clickable icons */
#save-button {
   background-image: url(../img/png/icon-save-purple.png);
}

#save-button:hover {
   background-image: url(../img/png/icon-save-red.png);
}

#mode-button {
   background-image: url(../img/png/icon-mode-purple.png);
}

#mode-button:hover {
   background-image: url(../img/png/icon-mode-red.png);
}

#achieve-button {
   background-image: url(../img/png/icon-achieve-purple.png);
}

#achieve-button:hover {
   background-image: url(../img/png/icon-achieve-red.png);
}

#help-button {
   background-image: url(../img/png/icon-help-purple.png);
}

#help-button:hover {
   background-image: url(../img/png/icon-help-red.png);
}

/* mode display stylings */

#mode-display {
   display: none;
}

#mode div {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 5%;
   margin-left: 2%;
}

#mode label {
   margin-left: 5px;
}

#mode input {
   position: relative; 
   height: 25px;
   width: 25px;
}

#restored-radio {
   position: absolute;
   right: 50px;
}

#restored-radio hover {
   background-color: red;
}

#mode img {
   position: relative;  
}

/* ending achievement display stylings */

#achieve-display {
   display: none;
   overflow-y: scroll;
}

#achieve {
   margin-top: 10%;
}

.ending {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 10%;
}

.achieveImg {
   margin: 0 15px;
   width: 12%;
   border: 1px solid #E4E4E4;
   border-radius: 5px;
   background-color: #0e0e0f8a;
   padding: 5px;
}

.achieveDesc {
   font-size: .9em;
   color: #A1A1A1;
   margin-top: 5%;
   margin-right: 5%;
   margin-left: 5%;
}

#achieve-hidden {
   margin-bottom: 10%;
}

/* setting ending desc to none before endings achieved */

#eterWith-desc {
   display: none;
}

#emptEnli-desc {
   display: none;
}

#theShep-desc {
   display: none;
}

#the1986-desc {
   display: none;
}

#deatTexa-desc {
   display: none;
}

#painMan-desc {
   display: none;
}

#dawdHote-desc {
   display: none;
}

#anAmn-desc {
   display: none;
}

#zaneShot-desc {
   display: none;
}

#shepTux-desc {
   display: none;
}

#elepAchi-desc {
   display: none;
}

/* command guide display stylings */

#help-display {
   display: none;
}

#help h3 {
   cursor: pointer;
}

#help h4 {
   font-size: .9em;
   color: #A1A1A1;
}

#help div {
   margin-bottom: 5%;
}

.commands {
   margin-left: 15px;
}

#noAgruList {
   display: none;
}

#oneAgruList {
   display: none;
}

#twoAgruList {
   display: none;
}

/* dial pad display stylings */

#dialPad {
   display: none;
   position: absolute;
   right: 0px;
   background: transparent linear-gradient(29deg, rgba(15,15,18,.95) 0%, rgba(73,73,89,.95) 100%) 0% 0% no-repeat padding-box;
   width: 25%;
   height: 100%;
}

#dial-pad-container{
   height: 100%;
   display: grid;
   grid-template-columns: .05fr .9fr .05fr;
   grid-template-rows: .05fr .10fr .05fr auto .10fr;
}

#dial-pad-buttons {
   grid-column: 1 / span 3;
   display: grid;
   grid-template-columns: .90fr .10fr;
}

#toggleTutorial {
   justify-self: right;
}

#close {
   justify-self: right;
}

#dial-name {
   grid-column: 2 / span 1;
   grid-row: 2 / span 1;
}

#dial-info {
   grid-column: 2 / span 1;
   grid-row: 3 / span 1;
   margin-bottom: 5%;
}

#dial-keys {
   grid-column: 2 / span 1;
   grid-row: 4 / span 1;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: .25fr .25fr .25fr .25fr;
   grid-row-gap: 10%;
}

#dial-keys button {
   background-color: #494959;
   width: 70%;
   min-width: 50px;
   border-radius: 5px;
   font-family: 'Montserrat', sans-serif;
   color: #e4e4e4;
   font-size: 2vh;
   cursor: pointer;
   transition: .2s ease-in-out;
}

#dial-keys button:hover {
   color: #9C4FEC;
}

#tutorial {
   display: none;
   position: absolute;
   right: 25%;
   background-color: rgba(28, 28, 34, .95);
   width: 25%;
   height: 100%;
   padding: 15px;
   box-sizing: border-box;
}

#tutorial-text-container {
   opacity: 0;
}

#tutorial h3 {
   font-weight: 600;
   margin-bottom: 5%;
   font-size: 2vh;
}

#toggleTutorial {
   background-color: transparent;
   color:#E4E4E4;
   font-weight: 600;
   border: none;
   cursor: pointer;
}

/* Classes for println() */

#output div.introSequence {
   text-align: center;
   border-left: none;
}

#output div.amnesiaTitle {
   text-align: center;
   border-left: none;
   font-size: 3em;
}

#output div.enterKey {
   text-align: center;
   border-left: none;
}

#output div.playerInput {
   border-left: none;
}
