/* across screen styles */

html {
   color: white;
}

img {
   max-width: 100%;
   height: auto;
}

#game-container {
   height: 80vh;
   padding: 5%;
}

.game-item-1 {
   background-color: purple;
   height: 100%;
   grid-column: 1 / span 3;
   grid-row: 1 / span 1;
   
}

.game-item-2 {
   background-color: blueviolet;
   grid-column: 1 / span 1;
   grid-row: 2 / span 1;
   
}

.game-item-3 {
   background-color: black;
   grid-column: 2 / span 1;
   grid-row: 2 / span 1;
}

.game-item-4 {
   background-color: rebeccapurple;
   grid-column: 3 / span 1;
   grid-row: 2 / span 1;
   
}

.game-item-5 {
   background-color: royalblue;
   grid-column: 1 / span 3;
   grid-row: 3 / span 1;
}

/* game-title */

#game-title { 
   height: 100%;
   display: grid;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 15% 1fr 15%;
}

/* game-options */

#game-options {
   display: none;
}
/* game */

#game {
   display: none;
}